@model EntityLayer.Concrete.Portfolio
@{
    ViewData["Title"] = "EditPortfolio";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Proje Güncelleme Sayfası</h3>
</div>
@using (Html.BeginForm("EditPortfolio", "Portfolio", FormMethod.Post))
{
    @Html.HiddenFor(x=>x.PortfolioId)
    <br />
    <label>Proje Adı</label>
    @Html.TextBoxFor(x=>x.PortfolioName, new {@class = "form-control"})
    @Html.ValidationMessageFor(x=>x.PortfolioName)
    <br />
    <label>Küçük Resim</label>
    @Html.TextBoxFor(x=>x.PortfolioImageUrl, new {@class = "form-control"})
    @Html.ValidationMessageFor(x=>x.PortfolioImageUrl)
    <br />
    <label>Büyük Resim</label>
    @Html.TextBoxFor(x=>x.PortfolioImageUrl2, new {@class = "form-control"})
    @Html.ValidationMessageFor(x=>x.PortfolioImageUrl2)
    <br />
    <label>Proje URL</label>
    @Html.TextBoxFor(x=>x.PortfolioUrl,new {@class = "form-control"})
    @Html.ValidationMessageFor(x=>x.PortfolioUrl)
    <br />
    <label>Platform</label>
    @Html.TextBoxFor(x=>x.PortfolioPlatform,new {@class = "form-control"})
    @Html.ValidationMessageFor(x=>x.PortfolioPlatform)
    <br />
    <label>Fiyat</label>
    @Html.TextBoxFor(x=>x.PortfolioPrice,new {@class = "form-control"})
    @Html.ValidationMessageFor(x=>x.PortfolioPrice)
    <br />
    <label>İlerleme Durumu</label>
    @Html.TextBoxFor(x=>x.PortfolioRatio,new {@class = "form-control"})
    @Html.ValidationMessageFor(x=>x.PortfolioRatio)
    <br />
    <button class="btn btn-primary">Güncelle</button>
}

